 #activities
{
    padding: 55px 44px 55px 44px;
}

.activities h2
{
    font-size: 24px;
    padding-bottom: 20px;
}

.elements2
{
    display: flex;
    gap: 45px;
}

.card-activities
{
    border-radius: 20px;
    position: relative;
    object-fit: contain;
    overflow: hidden;
    box-shadow: #bdbcbc63 1px 1px 5px;
    margin: 5px;
}
.titleactivities
{
    position: relative;
    padding: 1px 1px 1px 10px;
    border: white solid 0px;
    border-radius: 20px;
    overflow: hidden;
}

.column-orientation
{
    flex-direction: column;
    justify-content: space-between;
    width: 285px;
}

.column-orientation img
{
    height: 100%;
}

.imgactivities p
{
    margin: 0px 0px 0px 0px;
}

.card-activities
{
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexcolumn
{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.line-orientation
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 285px;
    height: 240px;
}
.line-orientation img
{
    width: 400px;
    height: 195px;
    object-fit: cover;
}

.titileactivities
{
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
    padding-left: 3%;
    padding-bottom: 5%;
    padding-top: 5%;
}

/* Mobile version */

@media all and (max-width: 768px)
{
    #activities
    {
        width: 100%;
    }
    #activities h2
    {
        margin: 3%;
    }

    .elements2
    {
        flex-direction: column;
        width: 100%;
    }

    .card-activities
    {
        width: 100%;
        margin-bottom: 5%;
    }

    .column-orientation
    {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .column-orientation img
    {
        width: 100%;
    }

    .line-orientation
    {
        width: 100%;
    }

    .line-orientation img
    {
        width: 100%;
    }
}

