@media all and (max-width: 292px)
{
    header /* Header */
    {
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #logo img 
    {
        order: 1;
        padding-top: 5px;
    }

    #inscription
    {
        order: 2;
        align-self: flex-end;
    }

    nav /* Nav-bar */
    {
        border-bottom: 3px solid #F2F2F2;
        order: 3;
    }

    nav ul
    {
        width: 100%;
        justify-content: space-around;
        align-items: stretch;
    }

    nav a:hover /* Link effect */
    {
        border-bottom : 3px solid #0065FC;
        padding-bottom: 16px;
        border-top: none;
    }
}

@media all and (min-width: 293px) and (max-width: 600px)
{
    header /* Header */
    {
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #logo img 
    {
        order: 1;
        padding-top: 5px;
    }

    #inscription
    {
        order: 2;
        align-self: center;
    }

    nav /* Nav-bar */
    {
        border-bottom: 3px solid #F2F2F2;
        order: 3;
    }

    nav ul
    {
        width: 100%;
        justify-content: space-around;
        align-items: stretch;
    }

    nav a:hover /* Link effect */
    {
        border-bottom : 3px solid #0065FC;
        padding-bottom: 16px;
        border-top: none;
    }
}
