@media all and (max-width: 600px)
{
    header /* Header */
    {
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #logo img 
    {
        order: 1;
        align-self: center;
    }

    #inscription
    {
        order: 3;
        align-self: center;
    }

    nav /* Nav-bar */
    {
        border-bottom: 3px solid #F2F2F2;
        order: 3;
        align-self: baseline;
    }

    nav li
    {
        width:90%;
        align-items: baseline;
    }

    nav a:hover /* Link effect */
    {
        border-bottom : 3px solid #0065FC;
        padding-bottom: 16px;
        border-top: none;
    }
}