header /* Header */
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

#logo /* Reservia logo */
{
    align-content: flex-start;
    flex:1;
}

#logo img 
{
    padding-left: 25px;
    padding-top: 50px;
}
nav /* Nav-bar */
{
    display: flex;
    justify-content: center;
}
nav a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

nav ul 
{
    list-style-type: none;
    display: flex;
}

nav li /* Nav element */
{
    width: 165px;
    border-top: 3px solid #FFFFFF;
    color: black;
    align-content: center;
}


nav a:hover /* Link effect */
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 65px;
}

#inscription
{
    align-content: flex-end;
}

#inscription a
{
    text-decoration: none;
    color: #0065FC;
    padding-right: 55px;
    padding-top: 50px;
    font-weight: 600;
}

@media all and (max-width: 768px)
{
    header /* Header */
    {
        flex-direction: row;
        flex-wrap: wrap;
		width: 122%;
    }

    nav /* Nav-bar */
    {
        order: 2;
        flex: 1 0 100%;
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
    }

    nav ul
    {
        width: 100%;
        text-align: center;
        justify-content: space-around;
        align-items: stretch;
    }

    nav a:hover /* Link effect */
    {
        border-bottom : 3px solid #0065FC;
        padding-bottom: 16px;
        border-top: none;
    }

}