/* Header */

header
{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    height: 120px;
}

#logo /* Reservia logo */
{
    align-content: flex-start;
    flex:1;
   
}
#logo img 
{
    padding-left: 55px;
    padding-top: 50px;
}
nav 
{
   align-content: center;
}
nav a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

nav ul /* Nav-bar */
{
    list-style-type: none;
    display: flex;
   
}

nav li /* Nav element */
{
    width: 165px;
    border-top: 3px solid #FFFFFF;
    color: black;
    align-content: center;
}

nav li:hover /* effect 1 */
{
    border-top: 3px solid #0065FC;
    
}

#inscription{
    align-content: flex-end;
  
}
#inscription a {
    
    padding-right: 55px;
    padding-top: 50px;
  
}