/* section hebergement et trending */
#accomodation
{
    padding-left: 40px;
    display: flex;
    justify-content: space-around;
}

/* Hebergements */
.hebergements
{
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 20px;
    padding: 25px 20px 25px 20px;
}

.elements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}

.home-announce
{
    border: solid white 5px;
    border-radius: 20px;
    position: relative;
    width: 300px;
    height: 200px;
    object-fit: contain;
    overflow: hidden;
    box-shadow: #bdbcbc63 1px 1px 5px;
    margin: 3%;
}

.imgheb
{
    width: 237px;
    max-height: 116px;
}

.photoheb
{
    object-fit: contain;
    width: 300px;
}

.pres-hebergement
{
    position: absolute;
    z-index: 1;
    background-color: white;
    right: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 35%;
    padding-left: 3%;
    padding-top: 3%;
    line-height: 150%;
}

strong
{
    font-weight: bold;
}

.plus
{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


/* Plus populaires */
.trending
{
    background-color: #F2F2F2;
    padding: 25px 40px 25px 40px;
    border-radius: 20px;
}

.trending h2
{
    display: flex;
    justify-content: space-between;
}

.annonce
{
    background-color: #FFFFFF;
    overflow: hidden;
    height: 140px;
    padding: 4px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px 15px #E6E6E6;
    box-sizing: border-box;
    cursor: pointer;
}

.redirection
{
    display: flex;
    max-width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
}

.imgpop
{
    width: 124px;
    max-height: 132px;
}

.photo
{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
}

.presentationpop
{
    width: 50%;
    height: 100%;
    padding-left: 20px;
}

.presentationpop h3
{
    margin-top: 10px;
    margin-bottom: 0px;
}

.p
{
    margin-top: 10px;
    margin-bottom: 45px;
}

.rating
{
    color: #0065FC;
}

.rating span
{
    color: #F2F2F2;
}

/* Mobile version */

