/* Hebergements */
#accomodation
{
    display: flex;
    justify-content: space-around;
}

.hebergements
{
    background-color: #F2F2F2;
}

.plus
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Plus populaires */
.trending
{
    background-color: #F2F2F2;
}

.trending h2
{
    display: flex;
    justify-content: space-between;
    padding: 50px 40px 30px 40px;
}

.annonce
{
    background-color: #FFFFFF;
    height: 128px;
    border-radius: 16px 16px 16px 16px;
}

.redirection
{
    display: flex;
    max-width: 100%;
    height: 100%;
}

.imgpop
{
    width: 124px;
    max-height: 132px;
}

.photo
{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 16px 06px 0px 16px;
}

.presentationpop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

.rating
{
    color: #0065FC;
}

.rating span
{
    color: #F2F2F2;
}